@{
    ViewBag.Title = "Dashboard";
    ViewBag.DashboardActive = "active";
}
    <div class="page-header">
        <h3 class="page-title">
            <span class="page-title-icon bg-gradient-primary mr-2 text-white">
                <i class="mdi mdi-home"></i>
            </span> @ViewBag.Title
        </h3>
        <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb bg-inverse-primary">
                <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
            </ol>
        </nav>
    </div>
<div class="row">
    <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-danger card-img-holder">
            <div class="card-body">
                <img src="~/Images/circle.svg" class="card-img-absolute" />
                <h4 class="font-weight-normal mb-3">
                    Total Users <i class="mdi mdi-chart-line mdi-24px float-right"></i>
                </h4>
                <h2 class="mb-5">@ViewBag.UsersCount</h2>
                <h6 class="card-text"><a href="@Url.Action("Users")">View Details</a></h6>
            </div>
        </div>
    </div>
    <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-info card-img-holder">
            <div class="card-body">
                <img src="~/Images/circle.svg" class="card-img-absolute" />
                <h4 class="font-weight-normal mb-3">
                    Total Exams <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
                </h4>
                <h2 class="mb-5">@ViewBag.ExamsCount</h2>
                <h6 class="card-text"><a href="@Url.Action("Users")">View Details</a></h6>
            </div>
        </div>
    </div>
    <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-success card-img-holder">
            <div class="card-body">
                <img src="~/Images/circle.svg" class="card-img-absolute" />
                <h4 class="font-weight-normal mb-3">
                    Enquiries <i class="mdi mdi-diamond mdi-24px float-right"></i>
                </h4>
                <h2 class="mb-5">@ViewBag.EnqsCount</h2>
                <h6 class="card-text"><a href="@Url.Action("ContactUs")">View Details</a></h6>
            </div>
        </div>
    </div>
</div>