@model OnlineExaminationSystem.Models.User
@{
    ViewBag.UsersActive = "active";
}
<div class="page-header">
    <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary mr-2 text-white">
            <i class="mdi mdi-account-multiple"></i>
        </span> @ViewBag.Title
    </h3>
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb bg-dark">
            <li class="breadcrumb-item"><a href="@Url.Action("Index")">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Users")">All Users</a></li>
            <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
        </ol>
    </nav>
</div>

<div class="row">
    <div class="col-8 grid-margin">
        <div class="card card-outline-primary">
            <div class="card-body">
                <h3 class="card-title">@ViewBag.Title</h3>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    @Html.HiddenFor(model => model.ID)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Name)
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "error" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Email)
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "error" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Mobile)
                        @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "error" })
                    </div>

                    if (ViewBag.ShowPassword != null)
                    {
                        <div class="form-group">
                            @Html.LabelFor(model => model.Password)
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "error" })
                        </div>
                    }

                    if (ViewBag.ShowStatus != null)
                    {
                        <div class="form-group">
                            @Html.LabelFor(model => model.Status)
                            <select class="form-control" name="Status" id="Status">
                                <option value="1" @if (Model.Status == 1) { @("selected") }>
                                    Active
                                </option>
                                <option value="0" @if (Model.Status == 0) { @("selected") }>
                                    Blocked
                                </option>
                            </select>
                        </div>

                    }

                    <div class="text-center mt-5">
                        <button type="submit" class="btn btn-inverse-primary w-50">@ViewBag.Title</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>