@model IEnumerable<OnlineExaminationSystem.Models.Result>
@{
    ViewBag.Title = "User Exams attended";
    ViewBag.UsersActive = "active";
}
<div class="page-header">
    <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary mr-2 text-white">
            <i class="mdi mdi-account-multiple"></i>
        </span> @ViewBag.Title
    </h3>
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb bg-dark">
            <li class="breadcrumb-item"><a href="@Url.Action("Index")">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Users")">All Users</a></li>
            <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
        </ol>
    </nav>
</div>

<div class="row">
    <div class="col-12 grid-margin">
        <div class="card card-outline-primary">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-12">
                        <h3 class="">@ViewBag.Title</h3>
                    </div>
                </div>
                <table class="table" id="dataTable">
                    <thead>
                        <tr>
                            <th> # </th>
                            <th> Attended Date </th>
                            <th> Exam </th>
                            <th> Subject </th>
                            <th> Result </th>
                            <th> Action </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 1;
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@i</td>
                                    <td>@item.AttendDate.ToLongDateString()</td>
                                    <td>@item.ExamTitle</td>
                                    <td>@item.Subject</td>
                                    <td class="text-@((item.Status.StatusInInt == 0)? "danger": "success") font-weight-bold">
                                        @item.Status.StatusInStr
                                    </td>
                                    <td>
                                        <a href="@Url.Action("UsersResultDetails", new { id = item.ID })" class="btn btn-inverse-primary btn-rounded">
                                            <i class="mdi mdi-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                                i++;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $('#dataTable').DataTable({
            responsive: true,
            scrollY: '50vh',
            scrollCollapse: true,
        });
    </script>
}