
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title - @AppInfo.SoftwareName</title>
    <link rel="stylesheet" href="/fonts/mdi/css/materialdesignicons.min.css">
    @Styles.Render("~/css")
    <link rel="stylesheet" href="~/Plugins/jquery-toast/jquery-toast.css">
    <link rel="stylesheet" type="text/css" href="~/Plugins/DataTables/datatables.min.css" />
    @* Custom style which will override previous styles *@
    <link rel="stylesheet" type="text/css" href="~/Content/custom.css" />
    @RenderSection("css", required: false)
</head>
<body class="sidebar-fixed">
    <div class="container-scroller">
        <!-- partial:../../partials/_navbar.html -->
        <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo" href="/">
                    @AppInfo.SoftwareName
                </a>
                <a class="navbar-brand brand-logo-mini" href="/">
                    @AppInfo.SoftwareShortName
                </a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-stretch">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="mdi mdi-menu"></span>
                </button>
                <div class="navbar-nav ml-2">
                    <h3 class="nav-link">
                        <a href="@Url.Action("Index")">
                            @ViewBag.DashBoardType Dashboard
                        </a>

                    </h3>
                </div>
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link">
                            <div class="nav-profile-img">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#6206a8" width="35px" height="35px"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z"></path><path d="M0 0h24v24H0z" fill="none"></path></svg>
                                <span class="availability-status online"></span>
                            </div>
                            <div class="nav-profile-text">
                                <p>@Session["Name"]</p>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item d-none d-lg-block full-screen-link">
                        <a class="nav-link">
                            <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
                        </a>
                    </li>
                    <li class="nav-item nav-logout d-none d-lg-block">
                        <a class="nav-link" href="/Logout">
                            <i class="mdi mdi-power"></i>
                        </a>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            @{ Html.RenderPartial("Partials/_nav"); }

            <div class="main-panel">
                <div class="content-wrapper">
                    @RenderBody()
                </div>

                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright &copy; @DateTime.Now.Year <a href="#">@AppInfo.OwnerName</a>. All rights reserved.</span>
                    </div>
                </footer>
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>

    @Scripts.Render("~/js")
    @Scripts.Render("~/jqueryval")
    <script type="text/javascript" src="~/Plugins/jquery-toast/jquery-toast.js"></script>
    <script type="text/javascript" src="~/Plugins/DataTables/datatables.min.js"></script>
    <script>
        function successToast(Message = 'Operation was successfully performed!') {
            $.toast({
                heading: 'Success',
                text: Message,
                showHideTransition: 'slide',
                icon: 'success',
                loaderBg: '#343a40',
                position: '@AppInfo.ToastPosition',
                textColor: 'white',
                hideAfter: 6000,
            });
        }

        function errorToast(Message = 'An unknown error occured!<br>Kindly try again later') {
            $.toast({
                heading: 'Error',
                text: Message,
                showHideTransition: 'slide',
                icon: 'error',
                loaderBg: '#343a40',
                position: '@AppInfo.ToastPosition',
                hideAfter: false,
                textColor: 'white'
            });
        }
    </script>
    @RenderSection("scripts", required: false)

</body>
</html>