<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
                <div class="nav-profile-image">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#6206a8" width="48px" height="48px"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z" /><path d="M0 0h24v24H0z" fill="none" /></svg>
                    <span class="login-status online"></span>
                    <!--change to offline or busy as needed-->
                </div>
                <div class="nav-profile-text d-flex flex-column">
                    <span class="font-weight-bold mb-2">@Session["Name"]</span>
                    <span class="text-secondary text-small">@ViewBag.DashBoardType</span>
                </div>
            </a>
        </li>

        <li class="nav-item @ViewBag.HomeActive">
            <a class="nav-link" href="@Url.Action("Index")">
                <span class="menu-title">Home</span>
                <i class="mdi mdi-home menu-icon"></i>
            </a>
        </li>
        <li class="nav-item @ViewBag.ExamsActive">
            <a class="nav-link" href="@Url.Action("Exams")">
                <span class="menu-title">Exams</span>
                <i class="mdi mdi-pen menu-icon"></i>
            </a>
        </li>
        <li class="nav-item @ViewBag.ResultsActive">
            <a class="nav-link" href="@Url.Action("Results")">
                <span class="menu-title">My Results</span>
                <i class="mdi mdi-chart-areaspline menu-icon"></i>
            </a>
        </li>
        <li class="nav-item @ViewBag.SettingsActive">
            <a class="nav-link" href="@Url.Action("Settings")">
                <span class="menu-title">Settings</span>
                <i class="mdi mdi-settings menu-icon"></i>
            </a>
        </li>
    </ul>
</nav>
