@model OnlineExaminationSystem.Models.Admin
@{
    ViewBag.Title = "Admin Login";
    Layout = "~/Views/Shared/_LandingLayout.cshtml";
}

<main class="page-auth">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <section class="auth-wrapper">
                    <div class="row">
                        <div class="col-md-6 mb-4 mb-md-0">
                            <h2 class="auth-section-title">Admin Log In</h2>
                            <p class="auth-section-subtitle">Sign in admin panel.</p>
                            @if (ViewBag.ErrorMessage != null)
                            {
                                <div class="alert alert-danger" role="alert">
                                    @Html.Raw(ViewBag.ErrorMessage)
                                </div>
                            }

                            @if (ViewBag.SuccessMessage != null)
                            {
                                <div class="alert alert-success" role="alert">
                                    @Html.Raw(ViewBag.SuccessMessage)
                                </div>
                            }
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-group">
                                    <label for="email">Email <sup>*</sup></label>
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter your email" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "error" })
                                </div>
                                <div class="form-group">
                                    <label for="password">Password <sup>*</sup></label>
                                    @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Enter your password" })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "error" })
                                </div>

                                <button class="btn btn-primary btn-block btn-lg btn-auth-submit" type="submit">Submit</button>
                            }
                        </div>
                        <div class="col-md-6 d-flex align-items-center">
                            <img src="~/LandingPageAssets/images/login.png" alt="login" class="img-fluid">
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</main>