@model IEnumerable<OnlineExaminationSystem.Models.Exam>
@{
    ViewBag.Title = "All Exams";
    ViewBag.ExamsActive = "active";

    int SelectedSubID = Convert.ToInt32(ViewBag.SelectedSubjectActiveID);
}
<div class="page-header">
    <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary mr-2 text-white">
            <i class="mdi mdi-account-multiple"></i>
        </span> @ViewBag.Title
    </h3>
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb bg-dark">
            <li class="breadcrumb-item"><a href="@Url.Action("Index")">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
        </ol>
    </nav>
</div>

<div class="row">
    <div class="col-12 grid-margin">
        <div class="card card-outline-primary">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-8">
                        <h3 class="">@ViewBag.Title - @ViewBag.SelectedSubject</h3>
                    </div>
                    <div class="col-4">
                        <form id="subjectForm">
                            <div class="form-row align-items-center">
                                <label class="col-4" for="SubjectFormCustomSelect">Select Subject</label>
                                <div class="col-8">
                                    <select class="custom-select mr-sm-2" id="SubjectFormCustomSelect" name="Subject">
                                        <option value="0" @if (SelectedSubID == 0) { @("selected")  }>
                                            All Subjects
                                        </option>
                                        @foreach (var SubsLoop in ViewBag.AllSubjects)
                                        {
                                    <option value="@SubsLoop.ID" @if (SelectedSubID == SubsLoop.ID) { @("selected") }>@SubsLoop.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <table class="table" id="dataTable">
                    <thead>
                        <tr>
                            <th> # </th>
                            <th> Title </th>
                            <th> Description </th>
                            <th> Subject </th>
                            <th> Status </th>
                            <th> Added Date </th>
                            <th> Action </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 1;
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@i</td>
                                    <td>@item.Title</td>
                                    <td>@item.Description</td>
                                    <td>@item.SubjectName</td>

                                    @if (item.Status == 0)
                                    {
                                        <td class="text-danger font-weight-bold">
                                            Disabled
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="text-success font-weight-bold">
                                            Active
                                        </td>
                                    }
                                    <td>
                                        @item.DateTime.ToLongDateString()
                                    </td>
                                    <td>
                                        <a href="@Url.Action("ViewExam", new { id = item.ID })" class="btn btn-inverse-primary btn-rounded">
                                            <i class="mdi mdi-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                                i++;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $('#dataTable').DataTable({
            responsive: true,
            scrollY: '50vh',
            scrollCollapse: true,
        });

        $('#SubjectFormCustomSelect').on('change', function () {
            if (this.value == 0) {
                window.location.replace("/Student/Exams");
            } else {
                $('#subjectForm').submit();
            }
        });
    </script>

    @{
        int Notification = 0;
        try
        {
            /*
             * try block to check if Session["Notification"] exist
             * if exist then convert  string to int
             */
            Notification = Convert.ToInt32(Session["Notification"]);
        }
        catch
        { }

        if (Notification == 1)
        {
            <script>
                //successToast('Exam added successfully!');
            </script>
            Session["Notification"] = null;
        }
    }
}